In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [20]:
df = pd.read_csv('./data/happiness.csv')
df.head()

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [48]:
X = df[['gdp', 'family', 'lifexp', 'freedom', 'corruption', 'generosity', 'dystopia']]
y = df.score

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [74]:
def calculate(model):
  model.fit(X_train, y_train)
  y_predict = model.predict(X_test)
  mse = mean_squared_error(y_test, y_predict)
  return (mse, model.coef_)

In [75]:
calculate(LinearRegression())

(1.0529952064870776e-07,
 array([1.00023614, 0.99976926, 0.99977787, 1.00025127, 0.99958546,
        1.00000465, 0.99989155]))

In [76]:
calculate(Lasso(alpha=0.02))

(0.031117737061948213,
 array([1.32031422, 0.87561281, 0.47348374, 0.8447698 , 0.        ,
        0.29109728, 0.88972614]))

In [77]:
calculate(Ridge(alpha=1))

(0.0036726539218064945,
 array([1.07440051, 0.9629411 , 0.86679766, 0.90055155, 0.66366429,
        0.7755534 , 0.95848575]))