# Support Vector Machine (Using Cross Validation)

In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
import sys
sys.path.append("./util/gen_data")
from util.gen_data import gen_people_default

In [2]:
data = gen_people_default(5_000, female_label=1, male_label=2)

X = data[['height', 'weight']]
y = data[['gender']]

In [3]:
X.head()

       height     weight
0  181.010197  53.176698
1  170.971541  78.225531
2  176.566897  83.278772
3  170.050927  83.612492
4  155.782877  56.338460

In [4]:
y.head()

   gender
0       1
1       2
2       2
3       2
4       1

In [5]:
svc = SVC()

In [6]:
scores = cross_val_score(svc, X, y.values.ravel(), cv=10)
scores

array([0.924, 0.91 , 0.926, 0.916, 0.933, 0.907, 0.93 , 0.915, 0.932,
       0.91 ])

In [7]:
scores.mean()

0.9203000000000001

In [8]:
scores.std()

0.009349331526906089